bin
gen
/obj/
/lib-projects/facebook/bin
/lib-projects/facebook/gen
.gradle/

# codeInsight 保留begin: codeInsightSettings用来不给大家提示非nano的proto message，提高工作效率
!.idea/
!.idea/codeInsightSettings.xml
.idea/*
**/.idea/*
# codeInsight 保留end

build/
**/captures
tinker-base
gradlew
gradlew.bat
local.properties
*.iml
.DS_Store
settings_self.gradle
*.ec
*.pyc
commit_id.txt
repos/
reports/
**/coremodule.txt
*/ajcore*.txt
ajcore*.txt
*.classpath
*.project
org.eclipse.buildship.core.prefs
debug/use_project.txt
debug/local_aar_list.txt
debug/profile.txt
gradle/include_append.gradle
submodule.txt
*.swp
local_config.json

ks-features/ft-feed/kwai-core/assets/common/crashlytics-build.properties
ks-features/ft-feed/kwai-core/res/values/com_crashlytics_export_strings.xml
ks-kernels/flutter-wrapper/remote_config.properties

tools/remote-build/config.ini
tools/local-remote-build/

# vscode 配置
.vscode/

debug/aar
debug/aar-remote
debug/aar-script
debug/plugin
subproject.txt
run_custom

kconfig.json

debug/build_log.json
debug/task_statistics.json
*.hprof

.cache

build_record.json

encoded_line_mapping.json
written_line_num
.gitlab-ci.yml
**/.gitlab-ci.yml

.history/
switch.local.properties
multi-repo

local.config.json
plugin_outputs.txt

ks-applications/kwai-android/dependencies.txt

r_check_files.txt
res_conflict_check_files.txt

.settings/
